<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crash from logcat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function required()
        {
            var empt = document.forms["frmUp"]["logFileUp"].value;
            if (empt == "")
            {
                alert("Please select logcat file ");
                return false;
            }
            var empt = document.forms["frmUp"]["symDir"].value;
            if (empt == "")
            {
                alert("Please enter symbol path on @46 server");
                return false;
            }
            return true;

        }
    </script>


    <style>
        body{
            background-color: ghostwhite;
        }

        .ajay{
            padding-bottom: 25px;
            padding-top: 12px;
        }
        .btnAj{

            display: inline-block;
            padding: 3px 49px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .aj_h3 {
            margin-left: 30px;
        }

    </style>

</head>
<body>

<div class="jumbotron text-left ajay ">
    <h2 class="aj_h3"><b>Crash Analysis Portal</b></h2>
</div>

<div class="container-fluid ajay">
    <div class="row">
        <form action="/" align="center">
            <h4>Oops! <%= serror %> </h4>
            <a href="/"> Please re-try with correct details </a><br><br>
            <button type="submit" class="btn btn-primary btnAj" value="home" > Home </button>
        </form>

    </div>
</div>

</body>
</html>